.DS_Store
__pycache__/

app/data/NCBI/*
app/data/Ensembl/Homo_sapiens.GRCh38.115.gff3.gz
app/data/Ensembl/Mus_musculus.GRCm39.115.gff3.gz

app/results/
app/testing_results/
app/testing/
app/processing/