body {
    font-family: Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 550;
    font-size: 28px
}

h2 {
    text-align: left;
    color: #333;
    font-weight: 550;
    font-size: 20px;
    padding: 0px;
    margin-top: 10px;
}

input {
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px 14px;
    margin-top: 15px;
    background-color: #587da1;
    color: white;
    border: #0055aa;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #09508c;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.headerContainer {
    background-color: #0c3d6d45;
    font-weight: 200;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}

.headerImage {
    height: 35px;
    width: auto;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Link styling */
.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.navbar a:hover {
    text-decoration: underline;
}


.instruction {
    font-weight: 150;
    font-size: 12px;
    color: #333;
    padding: 0px;
}


.searchContainer {
    background-color: #d3e2f1;
    outline: 2px solid #587da1;
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}




/* Layout */
#sidebar {
    float: left;
    width: 20%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

#output {
    margin-left: 22%;
    padding: 10px;
}

/* Sidebar buttons */
.sidebar-button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 6px 8px;
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #eaeaea;
}

/* Tables */
.result-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.result-table th, .result-table td {
    border: 1px solid #444;
    padding: 4px 6px;
    font-size: 12px;
}

.result-table th {
    background-color: #eee;
    font-weight: bold;
}
